thead.ant-table-thead {
  display: none !important;
}
.ant-drawer-close {
  top: -4px;
}
.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
  z-index: 9999;
}

.row-dragging td {
  padding: 8px;
}

.row-dragging .drag-visible {
  visibility: visible !important;
}
